*{
	margin: 0 auto;	
	padding: 0;
}
:focus{
    outline: 0;}/*/按钮点击有蓝框    谷歌单独对待*/
#box{
	border: solid  black 1px;
}
.banner{
	height: 54px;
	width: 1200px;
    margin-top: 25px;
}
#name{
	margin-left: 5px;
	font-family: "微软雅黑";
	font-size: 34px;
	font-weight: bold;
	color: #076ce0;
	float: left;
	line-height: 50px;
}
#sou{
	height: 50px;
	line-height: 50px;
	float: left;
	margin-left:200px;
	
}
#sys{
	border-radius:25px 0px 0px 25px;
	height: 30px;
	font-family: "微软雅黑";
	font-size: 13px;
}
#an1{
	height:50px;
	width: 100px;
	float: left;
}
#an2{
	border-radius: 0px 25px 25px 0px ;
	width: 80px;
	height: 36px;
    margin-top: 8px;
	background-color: #076ce0;
	background-image: url(../img/an2.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
input:focus {
	border: #076ce0 solid;
}
#dianh{
	margin-left:100px;
	margin-top: 9px;
	float: left;
}

#haoma{
	width: 150px;
	margin-top: 6px;
	margin-left: 9px;
	font-family: "微软雅黑";
	font-size: 15px;
	color: #666666;
	float: left;
}
#haoma a{
	text-decoration: none;
}
#b{
	font-size:18px;
	color: #076ce0;
}
#daohang{
	z-index: 1;
	position: sticky;
	top: 0;
	margin-top:20px;
	clear: both;
	height: 60px;
	width: 100%;
	background-color: #076ce0;
}
#daohang ul{
	list-style: none;
	margin-left:230px ;
}
#daohang li{
	float: left;
	width: 100px;
	line-height: 60px;
	margin-left: 40px;
}
#daohang a{
	color: white;
	text-decoration: none;
	font-size: 18px;
	text-align: center;
}
#daohang li:hover{
	background-color: white;
	color:#076ce0 ;
}

#fl{
	height: 600px;
    width: 100%;
}
#tongdao{
	border: 1px solid #c9c9c9;
	height: 300px;
	font-size: 16px;
	width: 1200px;
	text-align: center;
	background-color:  #f8f8f8 ;
    color: #076ce0;
    padding-top: 50px;
    margin-top: 40px;
}
.liutu{
	margin-top: 40px;
}
.liutu dl{
	float: left;
	margin-left: 65px;
}
.liutu dl dd{
	color: #666666;
	font-size: 14px;
}
#zoujin{
	height:630px;
	width: 1140px;
	background-color:   #f8f8f8;
	border: 1px solid #c9c9c9;
	margin-top: 50px;
	padding: 30px;
}
.yi1,.yi2,.yi3{
	height: 310px;
	padding-left: 5px;
	width: 280px;
	float: left;
	text-align: center;
}
.yi2,.yi3 img{
	z-index: -1;
	transition:all 0.4s;
}
.yi2:hover,.yi3:hover img{
	transform: scale(0.9);
}


.yi1{
	height: 250px;
	width: 280px;
	padding-top:60px;
	color: black;
	background-color:  burlywood;
	background-image: url(../img/a11.jpg);
	background-size: 100%;
	
}
.yi1 h2{
	padding-left: 15px;
	margin-top: 15px;
}
.yi1 span{
	font-size: 14px;
	color: black;
	margin-left: 15px;
}
.tijiaonn{
	margin-left: 20px;
	margin-top: 10px;
}
.tijiaoan input{
	height:38px;
	width: 100px;
	margin-left: 10px;
	margin-top: 10px;
	background: transparent;/*按钮背景色调透明*/
}
.er1{
	clear: both;
	float: left;
	padding-top: 5px;

}
.er2,.er3,.er4{
	float: left;padding-top: 5px;
	padding-left: 6px;
}
.er4{
	float: right;
}
.er1,.er2,.er3,.er4 img{
	z-index: -1;
	transition:all 0.4s;
}
.er1:hover,.er2:hover,.er3:hover,.er4:hover img{
	transform: scale(0.9);
}


#xinwen{
	width: 1200px;
	margin-top: 40px;
	height: 245px;
}
.xwleft{
	background-color: #f8f8f8;
	border: 1px solid #c9c9c9;
	width: 580px;
	float: left;
    height: 245px;
}
.xwleft dl dt{
	background-color:#076ce0 ;
	color: white;
	height: 32px;
	font-size:16px;
	padding-top: 8px;
	padding-left: 8px;
}
.xwleft dl dt span{
	float: right;
	padding-right: 5px;
}
.xwleft dl dt a{
	text-decoration: none;
	color: white;
}
.xwleft dl dd{
	height: 20px;
	width: 560px;
	border-bottom: 1px #666666 dashed;
	padding:10px;
}
.xwleft dl dd a{
	text-decoration: none;
	color:#666666;
	font-family: "微软雅黑";
	font-size: 14px;
}
.xwright{
	background-color: #f8f8f8;
	border: 1px solid #c9c9c9;
	width: 580px;
	float: left;
	margin-left: 36px;
    height: 245px;
}

.xwright dl dt{
	background-color:#076ce0 ;
	color: white;
	height: 32px;
	font-size:16px;
	padding-top: 8px;
	padding-left: 8px;
}
.xwright dl dt span{
	float: right;
	padding-right: 5px;
}
.xwright dl dt a{
	text-decoration: none;
	color: white;
}
.xwright dl dd{
	height: 20px;
	width: 560px;
	border-bottom: 1px #999999 dashed;
	padding:10px;
}
.xwright dl dd a{
	text-decoration: none;
	color:#666666;
	font-family: "微软雅黑";
	font-size: 14px;
}
/*按钮指向旋转*/
.xwright  dd i{
				display: inline-block;
				height: 0;
				width: 0;
				border-width: 8px 8px 0;
				border-style: solid dashed;
				border-color: #999999 transparent;
				transition: all 0.3s ease-in; 
			}
.xwleft  dd i{
				display: inline-block;
				height: 0;
				width: 0;
				border-width: 8px 8px 0;
				border-style: solid dashed;
				border-color: #999999 transparent;
				transition: all 0.3s ease-in; 
			}
dd:hover i{
				border-color: red transparent;
				transform: rotate(-90deg);
			}
#bottom{
	height:200px;
	margin-top: 50px;
	width: 1200px;
	background-color:#f8f8f8 ;
}
.ditu{
	height: 150px;
	width: 1150px;
	padding: 25px;
}
.ditu img{
	margin-left: 40px;
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}
.lianxi{
	height: 150px;
	width: 580px;
	margin-top: 50px;
	padding: 20px;
	background-color:#f8f8f8;
	padding-left:220px;
	font-size: 13px;
	color: #333333;
	line-height: 21px;
	float: left;
}
.erweima{
	width: 380px;
	height: 170px;
	text-align: center;
	float: left;
	margin-top: 50px;
	background-color:#f8f8f8;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #333333;
	padding-top: 20px;
}
#bq{
	clear: both;
	width: 1200px;
	height: 30px;
	background-color: #d4d4d4;
	text-align: center;
	font-size: 14px;
	color: #333333;
	line-height: 30px;
}
